/* NAVBAR */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}

.fa-solid, .fas{
    color: black;
}

.navbarLinks{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin-bottom: 0;
}
.navbarLinks a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.navbarLinks a:hover{
    color:slategray;
}
.navbar .quizBotao{
    color: white;
    background: #212529;
    padding: 8px 15px 8px 15px;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px solid #212529;
}
.navbar .quizBotao:hover{
    color: black;
    background: white;
    border: 1px solid black;
}
#toggler,
.navbar label {
    display: none;
}
/* NAVBAR */


.imagens--calvice {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 1.5rem;
    width:100%;
    
}

.imagens--calvice img {
    width: 80%;
    margin:10%;
}

.imagens--calvice p{
    text-align: center;
}

.imagens--calvice button {

    align-items: space-around;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 20%;
    

}


.titulo__calvicie h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    width:80%; 
    text-align: center;
    margin-left: 9.5%;
    margin-bottom: 4%;
    margin-top: 8%;
    
}



.titulo__calvicie {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.bnt__calvicie{
    display: flex;
    width: 92%;
    flex-direction: row;
    justify-content:space-evenly;
}

.bnt__calvicie button{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 250%;
    height: 50px;
    transition: all 300ms;
}

.bnt__calvicie button:hover {
    transform: scale(1.1);
}

.prevencao{
    margin:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    height: 40px;
    z-index: 999;
    display: flex;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    align-items: middle;
    flex-direction: column;
    justify-content: space-between;
}
.footer p {
    margin: 8px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 600px) {
    /* NAVBAR */
        .navbarMenu{
            width: 100%;
            text-align: center;
            max-height: 0;
            overflow: hidden;
        }
        .navbarLinks{
            margin: 0;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        .navbar label{
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }
        #toggler:checked + .navbarMenu{
            display: block;
            line-height: 40px;
            max-height: 1000%;
        }
    /* NAVBAR */
    /* MAIN */

    /* MAIN */
    /* FOOTER */
        .footer {
            background-color: black;
        }
        .footer p{
            font-size: 12px;
        }
    /* FOOTER */
}

