/* NAVBAR */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}
.navbar .logo {
    margin-right: 50px;
}
.navbar .list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin-bottom: 0;
}
.navbar .btn{
    color: white;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.navbar a:hover{
    color:slategray;
}
#toggler,
.navbar i {
    display: none;
}
/* NAVBAR */

/* QUIZ */
.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz .title {

    justify-content: center;
}

.quiz .titletipos{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}
/* QUIZ */

html{
    white-space: nowrap;
    
}

body{
    
    overflow: hidden;
}