/* NAVBAR */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-bottom: dotted 1px rgba(0, 0, 0, 0.25);
}
.navbar .logo {
    margin-right: 50px;
}
.navbar .list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.navbar a:hover{
    color:slategray;
}
#toggler,
.navbar i {
    display: none;
}
/* NAVBAR */